*{
    font-size: 30px;
    color: white
}

.container-branch-dev {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
}
.container-branch-dev .title{
    margin: 5px;
    background-color: red;
}

.container-branch-dev .subtitle{
    margin: 2px;
    background-color: rosybrown;
}

.container-branch-dev-1 {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 105, 0);
}
.container-branch-dev-1 .title{
    margin: 5px;
    background-color: rgb(44, 23, 23);
}

.container-branch-dev-1 .subtitle{
    margin: 2px;
    background-color: rgb(150, 157, 160);
}

.container-branch-dev-2 {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(7, 63, 85);
}
.container-branch-dev-2 .title{
    margin: 5px;
    background-color: rgb(10, 178, 230);
}

.container-branch-dev-2 .subtitle{
    margin: 2px;
    background-color: rgb(156, 160, 150);
}

.container-branch-dev-3 {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(24, 231, 162);
    width: 50%;
}
.container-branch-dev-3 .title{
    margin: 5px;
    background-color: rgb(16, 71, 11);
}

.container-branch-dev-3 .subtitle{
    margin: 2px;
    background-color: rgb(14, 230, 212);
}